<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <h1> Team Name: <%=@new_team_hash[:name]%></h1>
   <p> Coach: <%=@new_team_hash[:coach]%></p>
   <p> Point Guard: <%=@new_team_hash[:pg]%></p>
   <p> Shooting Guard: <%=@new_team_hash[:sg]%></p>
   <p> Power Forward: <%=@new_team_hash[:pf]%></p>
   <p> Small Forward: <%=@new_team_hash[:sf]%></p>
   <p> Center: <%=@new_team_hash[:c]%></p>

 </body>
</html>
